@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --cor-primaria: #F1FCFF;
    --cor-cinza: #ffffff;
    --cor-branca: #FFFFFF;
    --cor-azul: #3CB6EA;
    --cor-azul-claro: #b9eaff;
    --cor-roxa: #6B7ACF;
    --cor-roxa-claro: #c3ccfb;
    --cor-verde: #4CF3C0;
    --cor-verde-claro: #b9f8e5;
    --cor-laranja: #FBB679;
    --cor-laranja-claro: #f8dabf;
    --cor-preta: #000000;
    --fonte-primaria: 'Roboto', sans-serif;
    --fonte-secundaria: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-preta);


    display: flex;
    flex-direction: column;
}

.cabecalho {
    padding: 2% 10% 2% 10%;
    background-color: var(--cor-preta);
}

.cabecalho__menu {
    display: flex;
    gap: 80px;

}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    color: var(--cor-branca);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    gap: 150px
}

.apresentacao__conteudo {
    align-items: center;
    display: flex;
    gap: 40px;
    margin-bottom: 44px;
}

.sobre__conteudo__container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.sobre__conteudo__container img {
    width: 450px;
    border-radius: 40px;

}

.sobre__conteudo__container div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: inherit;
}

.conteudo__titulo {
    font-size: 48px;
    font-family: var(--fonte-primaria);
    margin-bottom: 1.5em;
    color: var(--cor-roxa);
    text-align: center;
}

.sobre__conteudo__titulo {
    text-align: inherit;
    margin-bottom: 0;
}

.titulo {
    font-size: 3.25rem;
    font-family: var(--fonte-primaria);
    margin-bottom: 1.5em;
}


.titulo-destaque {
    color: var(--cor-roxa);
}

.servicos__item {
    display: flex;
    gap: 2em;
    padding: 1.5em;
    border-radius: 16px;
}


.servicos__texto {
    font-size: 20px;
    font-family: var(--fonte-secundaria);
}

.servicos__texto p:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--fonte-primaria);

    margin-bottom: 1em;
}

.servicos__item:nth-child(1) {
    background-color: var(--cor-roxa-claro);
}

.servicos__item:nth-child(1) img {
    background-color: var(--cor-roxa);
}

.servicos__item:nth-child(2) {
    background-color: var(--cor-azul-claro);
}

.servicos__item:nth-child(2) img {
    background-color: var(--cor-azul);
}

.servicos__item:nth-child(3) {
    background-color: var(--cor-verde-claro);
}

.servicos__item:nth-child(3) img {
    background-color: var(--cor-verde);
}

.servicos__item:nth-child(4) {
    background-color: var(--cor-laranja-claro);
}

.servicos__item:nth-child(4) img {
    background-color: var(--cor-laranja);
}

.servicos__item__container {
    position: relative;
}

.servicos__item__container div {
    padding-top: 1em;
}

.servicos__item img {
    position: absolute;
    bottom: 100%;
    padding: .5em;
    border-radius: 16px;
}

.sobre__conteudo__texto,
.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}


.apresentacao__imagem {
    width: 30%;
    background-color: var(--cor-laranja);
    box-shadow: 10px 10px 20px 0px var(--cor-roxa);
    padding: 16px;
    border-radius: 100%
}


.sobre__lista {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.sobre__item__numero {
    color: var(--cor-azul);
    font-weight: 600;
    font-size: 3.5rem;
}


.rodape {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    font-weight: 600;
}

.servicos__lista {
    display: flex;
    font-size: 1.5em;
    gap: 2em;
    font-family: var(--fonte-secundaria);
}



.sobre__item__texto {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 12px;

}

.projetos__lista {
    display: flex;
    list-style-type: none;
    font-family: var(--fonte-secundaria);
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    text-align: center;
}

.projetos__titulo {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: .5em;
}

.projetos__descricao {
    font-size: 22px;
}

.projetos__item img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 16px;
}

.apresentacao__links__navegacao {
    text-decoration: none;
    margin-right: 1em;
}

@media screen and (max-width: 1050px) {

    .sobre__conteudo__container,
    .servicos__lista,
    .projetos__lista,
    .apresentacao__conteudo {
        flex-direction: column;
        gap: 50px;
    }

    .apresentacao__imagem {
        width: 50%;
    }
}